<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="CMSHashStringSalt" value="23f5fb85-ea83-4e43-8ddf-9bbda104061f" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="CMSConnectionString" connectionString="Data Source=.;Initial Catalog=kx13-dancing-goat-sample;Integrated Security=False;Persist Security Info=False;User ID=kx13-dancing-goat-sample-usr;Password=T9.K/dQjfhHC;Connect Timeout=60;Encrypt=False;Current Language=English;" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
  </runtime>
</configuration>